<footer class="site-footer" *ngIf="isAuthenticated()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Lorem Ipsum <i>CODE WANTS TO BE SIMPLE </i> Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nam lacinia mollis tellus sed consectetur. Proin varius molestie massa
                    consequat facilisis. Nunc viverra dapibus enim, ac venenatis odio. Phasellus eget libero vitae dolor
                    posuere facilisis. Vestibulum pretium, ligula eu lacinia laoreet, erat erat imperdiet leo, vitae
                    dictum libero ex nec purus. Aenean risus odio, vulputate et libero at, gravida placerat diam.
                    Quisque dignissim massa non lorem molestie, sit amet ultrices metus porta. In hac habitasse platea
                    dictumst.</p>
            </div>
            <br>
            <div class="col-xs-6 col-md-3">
                <h6>Policy</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia mollis tellus sed consectetur. Proin varius molestie massa consequat facilisis. Nunc viverra dapibus enim, ac venenatis odio. Phasellus eget libero vitae dolor posuere facilisis. Vestibulum pretium, ligula eu lacinia laoreet, erat erat imperdiet leo, vitae dictum libero ex nec purus. Aenean risus odio, vulputate et libero at, gravida placerat diam. Quisque dignissim massa non lorem molestie, sit amet ultrices metus porta. In hac habitasse platea dictumst.
                <p>
            </div>
            
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                    <a>Zycus.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>